{% extends "app/base.html" %}
{% load socialaccount %}
{% load i18n %}
{% block title %}login {% endblock title %}



{% block common_scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
  // Load jquery straight from the cdn for this page.
  $(function() {
    $('#id_login').addClass('form-control').removeAttr('autofocus').blur();
    $('#id_password').addClass('form-control');
  });
</script>
{% endblock common_scripts %} 

{% block main-content %}

<div class="container" >
   <div class="row my-3">
      <div class="col-sm-6 offset-sm-3">
         <h3>Login</h3>
         <hr>
                <form method="POST" action="{% url 'account_login' %}" class="shadow p-4 mb-3">
                
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>
                <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                
                <a href="{% provider_login_url 'google' %}" class="btn btn btn-danger " role="button" aria-pressed="true">Sign in with Google</a>
                </form>
          
          </div>
        </div>
    </div> 


{% endblock main-content %}

