{% extends "app/base.html" %}
{% load socialaccount %}
{% load i18n %}
{% block title %}Logout {% endblock title %}

{% block main-content %}
<div class="container my-3 text-center">
    <h2 class="">Are you sure ?</h2>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
    <button class ="btn btn-danger me-2" type="submit">{% trans 'Logout' %}</button>
    </form>
</div>

    
{% endblock main-content %}

