{% extends "app/base.html" %}
{% load socialaccount %}
{% load i18n %}
{% block title %}Reset password {% endblock title %}

{% block common_scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
  // Load jquery straight from the cdn for this page.
  $(function() {
    $('#id_email').addClass('form-control');
  });
</script>
{% endblock common_scripts %}

{% block main-content %}

<div class="margin-2">
  <div class="container my-3">

      <h1>{% trans "Password Reset" %}</h1>
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}

      <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="shadow p-2 mb-3">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="btn btn-danger" value="{% trans 'Reset My Password' %}" />
      </form>

      <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

  </div>
</div>

{% endblock main-content %}

