{% extends "app/base.html" %}
{% load socialaccount %}
{% load i18n %}
{% block title %}change password {% endblock title %}

{% block main-content %}

{% if request.user.is_authenticated %}
<div class="container">
   <div class="row my-3">
      <div class="col-sm-6 offset-sm-3">
         <h3>Set Password</h3>
         <hr>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
      </div>
   </div>
</div>

{% endif %}
{% comment %} <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
        <button type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form> {% endcomment %}
{% endblock main-content %}

