{% extends "app/base.html" %}

{% block title %} 
Create a new Resource
{% endblock title %}

{% block main-content %}

{% if user.is_staff %}
<div class="margin-2">
    <div class="container">
        <h2>Add Resource</h2><hr>
        <div class="form-group">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.media}}
                {{form.as_p}}
                <input value="Post" type="submit" class="btn btn-secondary">
            </form>
        </div>
    </div>
</div>

<script>
   var name = "{{ user.id }}"
   document.getElementById("elder").value
      = name;

</script>


{% else %}
   <p class="m-3">you're not allowed here</p>
{% endif %} 

{% endblock main-content %}