{% extends "app/base.html" %}

{% load static %}

{% block title %}
        Resources Details
{% endblock title %}

{% block main-content %}

<div class="margin-2">
	<div class="container">
			<div class="row">
					<div class="col-lg-2">
					</div>
			
		<div class="col-lg-8">
			<p class="font-blog-detail-title">{{resorcesmodel.title|capfirst}} </p>

			<div class="m-1">
			<a href="{{ resorcesmodel.docs }}" class="btn btn-light text-primary">Docs</a>
			</div>
		<br>
			</div>
	</div>
</div>
</div>

<div class="container my-2">
<h2 class="mx-2">Best Courses</h2><hr>
<ul id="autoWidth" class="cs-hidden">
  <a href="{{resorcesmodel.course1_link}}"><li class="item-a">
	  <!--slider-box1-->
		<div class="box1">
		<!--model-->
		<img class="model" src="{{resorcesmodel.course1_Img.url}}">
		<!--details-->
		<div class="details">
		<!--character-details-->
		<p>{{resorcesmodel.course1_title}}</p>
		</div>
		
		</div>
		</li></a>
		<!--2------------------------------>
  <a href="{{resorcesmodel.course2_link}}"><li class="item-a">
	  <!--slider-box1-->
		<div class="box1">
		<!--model-->
		<img class="model" src="{{resorcesmodel.course2_Img.url}}">
		<!--details-->
		<div class="details">
		<!--character-details-->
		<p>{{resorcesmodel.course2_title}}</p>
		</div>
		
		</div>
		</li></a>
		<!--3------------------------------>
  <a href="{{resorcesmodel.course3_link}}"><li class="item-a">
	  <!--slider-box1-->
		<div class="box1">
		<!--model-->
		<img class="model" src="{{resorcesmodel.course3_Img.url}}">
		<!--details-->
		<div class="details">
		<!--character-details-->
		<p>{{resorcesmodel.course3_title}}</p>
		</div>
		
		</div>
		</li></a>
		<!--4------------------------------>
  <a href="{{resorcesmodel.course4_link}}"><li class="item-a">
	  <!--slider-box1-->
		<div class="box1">
		<!--model-->
		<img class="model" src="{{resorcesmodel.course4_Img.url}}">
		<!--details-->
		<div class="details">
		<!--character-details-->
		<p>{{resorcesmodel.course4_title}}</p>
		</div>
		
		</div>
		</li></a>
		<!--5------------------------------>

		{% if resorcesmodel.course5_link %}
		
  <a href="{{resorcesmodel.course5_link}}"><li class="item-a">
	  <!--slider-box1-->
		<div class="box1">
		<!--model-->
		<img class="model" src="{{resorcesmodel.course5_Img.url}}">
		<!--details-->
		<div class="details">
		<!--character-details-->
		<p>{{resorcesmodel.course5_title}}</p>
		</div>
		
		</div>
		</li></a>
		</ul>
		{% endif %}
</div>



<div class="container my-2">
<h2 class="mx-2">Youtube channel</h2>
<ul id="autoWidth1" class="cs-hidden">
  <a href="{{resorcesmodel.channel1_link}}"><li class="item-a">
	  <!--slider-box1-->
		<div class="box1">
		<!--model-->
		<img class="model" src="{{resorcesmodel.channel1_Img.url}}">
		<!--details-->
		<div class="details">
		<!--character-details-->
		<p>{{resorcesmodel.channel1_title}}</p>
		</div>
		
		</div>
		</li></a>
		<!--2------------------------------>
  <a href="{{resorcesmodel.channel2_link}}"><li class="item-a">
	  <!--slider-box1-->
		<div class="box1">
		<!--model-->
		<img class="model" src="{{resorcesmodel.channel2_Img.url}}">
		<!--details-->
		<div class="details">
		<!--character-details-->
		<p>{{resorcesmodel.channel2_title}}</p>
		</div>
		
		</div>
		</li></a>
		<!--3------------------------------>
  <a href="{{resorcesmodel.channel3_link}}"><li class="item-a">
	  <!--slider-box1-->
		<div class="box1">
		<!--model-->
		<img class="model" src="{{resorcesmodel.channel3_Img.url}}">
		<!--details-->
		<div class="details">
		<!--character-details-->
		<p>{{resorcesmodel.channel3_title}}</p>
		</div>
		
		</div>
		</li></a>
		<!--4------------------------------>
		{% if resorcesmodel.channel4_link %}

  <a href="{{resorcesmodel.channel4_link}}"><li class="item-a">
	  <!--slider-box1-->
		<div class="box1">
		<!--model-->
		<img class="model" src="{{resorcesmodel.channel4_Img.url}}">
		<!--details-->
		<div class="details">
		<!--character-details-->
		<p>{{resorcesmodel.channel4_title}}</p>
		</div>
		
		</div>
		</li></a>
		{% endif %}
		<!--5------------------------------>

		{% if resorcesmodel.channel5_link %}

  <a href="{{resorcesmodel.channel5_link}}"><li class="item-a">
	  <!--slider-box1-->
		<div class="box1">
		<!--model-->
		<img class="model" src="{{resorcesmodel.channel5_Img.url}}">
		<!--details-->
		<div class="details">
		<!--character-details-->
		<p>{{resorcesmodel.channel5_title}}</p>
		</div>
		
		</div>
		</li></a>
		{% endif %}
	</ul>
</div>

<div class="container my-2">
<h2 class="mx-2">Useful websites</h2>
<ul id="autoWidth2" class="cs-hidden">
  <a href="{{resorcesmodel.Website1_link}}"><li class="item-a">
	  <!--slider-box1-->
		<div class="box1">
		<!--model-->
		<img class="model" src="{{resorcesmodel.Website1_Img.url}}">
		<!--details-->
		<div class="details">
		<!--character-details-->
		<p>{{resorcesmodel.Website1_title}}</p>
		</div>
		
		</div>
		</li></a>
		<!--2------------------------------>
  <a href="{{resorcesmodel.Website2_link}}"><li class="item-a">
	  <!--slider-box1-->
		<div class="box1">
		<!--model-->
		<img class="model" src="{{resorcesmodel.Website2_Img.url}}">
		<!--details-->
		<div class="details">
		<!--character-details-->
		<p>{{resorcesmodel.Website2_title}}</p>
		</div>
		
		</div>
		</li></a>
		<!--3------------------------------>

		{% if resorcesmodel.Website3_link %}
		
  <a href="{{resorcesmodel.Website3_link}}"><li class="item-a">
	  <!--slider-box1-->
		<div class="box1">
		<!--model-->
		<img class="model" src="{{resorcesmodel.Website3_Img.url}}">
		<!--details-->
		<div class="details">
		<!--character-details-->
		<p>{{resorcesmodel.Website3_title}}</p>
		</div>
		
		</div>
		</li></a>
		{% endif %}
		<!--4------------------------------>

		{% if resorcesmodel.Website4_link %}
		
  <a href="{{resorcesmodel.Website4_link}}"><li class="item-a">
	  <!--slider-box1-->
		<div class="box1">
		<!--model-->
		<img class="model" src="{{resorcesmodel.Website4_Img.url}}">
		<!--details-->
		<div class="details">
		<!--character-details-->
		<p>{{resorcesmodel.Website4_title}}</p>
		</div>
		
		</div>
		</li></a>
		{% endif %}
		<!--5------------------------------>

		{% if resorcesmodel.Website5_link %}

  <a href="{{resorcesmodel.Website5_link}}"><li class="item-a">
	  <!--slider-box1-->
		<div class="box1">
		<!--model-->
		<img class="model" src="{{resorcesmodel.Website5_Img.url}}">
		<!--details-->
		<div class="details">
		<!--character-details-->
		<p>{{resorcesmodel.Website5_title}}</p>
		</div>
		
		</div>
		</li></a>
		{% endif %}
		</ul>
</div>

{% endblock main-content %}