{% extends "app/base.html" %}

{% load static %}

{% block title %}
        Blog Details
{% endblock title %}

{% block main-content %}


<div class="container mt-4">
        <div class="row">
                <div class="col-lg-2">
                </div>
        
    <div class="col-lg-8">
    <p class="font-blog-detail-title">{{studentblogmodel.title|capfirst}} </p>
    <small class="m-2"> By : {{ studentblogmodel.author.first_name|capfirst }} {{ studentblogmodel.author.last_name|capfirst }} - {{studentblogmodel.post_date}} </small>
               {% if user.is_authenticated %}
               {% if user.id == studentblogmodel.author.id or request.user.is_staff %}

                            <small>
                                <a href="{% url 'update_blog_post' studentblogmodel.pk %}">- (Edit)</a>

                                <a href="{% url 'delete_blog_post' studentblogmodel.pk %}">(Delete)</a>
                                
                            </small>

                {% endif %}
                {% endif %} 

    <hr>

    <div class="ft-blog-paragraph">
    {{ studentblogmodel.body|safe }}
    </div>
    <br><hr><br>
    <h6>By:</h6>
<div class="row">
        <div class="col-lg-8">
                <div class="card shadow rounded">
                <h5 class="card-header">{{ studentblogmodel.author.first_name|capfirst }} {{ studentblogmodel.author.last_name|capfirst }}</h5>
                <div class="card-body">
                <p class="card-text">{{studentblogmodel.author.profile.bio}}</p>
                <a href="{% url 'show_profile' studentblogmodel.author.profile.id %}" class="btn btn-primary">Check Profile</a>
                </div>
                </div>
</div>
</div>
</div>


</div>




</div>


{% comment "" %}
<h2>Comments...</h2>
{% if not post.comments.all %}
 No comments yet... <a href="{% url 'add_comment' post.pk %}">Add One</a> <br>
{% else %}

<a href="{% url 'add_comment' post.pk %}">Add Comment</a> <br><br>

        {% for comment in post.comments.all %}
        <strong>{{ comment.name|capfirst }} -
        {{ comment.date_added }} 
        </strong> 
       <br> {{ comment.body }} <br>
       
        {% endfor %}
    <br><a href="{% url 'add_comment' post.pk %}">Add Comment</a> <br>
{% endif %} {% endcomment %}
    

{% endblock main-content %}