{% extends "app/base.html" %}
{% load static %}
{% block main-content %}

<div class="about-us mb-2">
  <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="font-weight-bold text-uppercase font font-blog-detail-title">About us</h1>
            <p class="">Hello and welcome to Get Placed! We want to connect with people and connect those people with information.
            At Get Placed, we help you to find the best courses, certifications and tutorials online. Members of Get Placed come together to handpick these recommendations
            based collective experience. It is an educational platform aiming to 
            provide technical as well as career growth assistance to students pursuing fields such as computer science, electronics engineering, etc. </p>
        </div>
    </div>
  </div>
</div>
<div class="description-about">
  <div class="container">
    <h2 class="text-center">Mission</h2>
    <p class="h6">Our mission is to bring good, engaging and computer science education to the world. We believe that higher education will better the world,
     and computer science is key to this change. Get Placed provides information of upcoming off-campus hiring drives, Internships. It helps you to find the best courses 
     available on Internet. It encourage people to teach themselves new skills/technology online. Get Placed also acts a blogging platform from which people can share their 
     knowledge, tech reviews, and daily life hacks.</p>
  </div>
</div>

{% endblock main-content %}