{% extends "app/base.html" %}

{% block title %}
Delete Job Post
{% endblock title %}

{% block main-content %}

{% if user.is_authenticated %}

<div class="margin-2">
<div class="container text-center">

    <h2>Delete Job Post...</h2><br><br>
    <h3>Delete: {{placement_company_detail.title}}</h3>

    <br>
    <div class="form-group">
        <form action="" method="POST">
            {% csrf_token %}
            <strong>Are you sure?</strong><br><br>
            <input value="Delete Post !" type="submit" class="btn btn-secondary mb-2">
        </form>
    </div>

</div>
</div>


{% else %}

    you're not allowed here

{% endif %}


{% endblock main-content %}