{% extends "app/base.html" %}
{% load static %}
{% block main-content %}

<h1 class="mt-5 font-weight-bold text-uppercase text-center font-blog-detail-title">Join us</h1>
<article class="article">
<blockquote>
		<p>"Most People don't want to start because they don't want to be seen starting at the bottom."</p>
		<cite><strong> Don't be the most people </strong></cite>
	</blockquote>
</article>

<div class="margin-2 mb-5">
  <div class="container join_us">
            <p>Get Placed wants to connect with people and connect those people with information. At Get Placed, we help you to find the best courses, certifications and
            tutorials onlineIt is our goal to improve student's lives and create a sustainable future with open technologies. With our open source approach we enable
            student to collaboratively create, share, adapt and change technology according to their own ideas and needs. We want you to contribute to our projects
            <a href="https://github.com/CS-Hunt/">here</a>. Contributing to open source gives developers plenty of advantages, benefitting their own development.</p>
            <br>
            <h4 class="font-weight-bold">Here are 4 ways in which developers are benefitted by contributing to open source:</h4><br>

            <h5>1. Unbounded learning :</h5>
            <p>Students can and do learn technologies and skills that go far beyond course outcomes as they're learning within a professional
            community. In addition, much of the learning comes from the community itself, rather than the instructor.</p>  <br>

            <h5>2. Professional interactions :</h5>
            <p>As students interact with an open source community, they gain professional skills including communication, teamwork, and
            problem solving. In addition, open source interactions provide students with an opportunity to network with professionals while building a public portfolio of
            their work.</p>  <br>

            <h5>3. Outside opportunities :</h5>
            <p>Involvement in open source communities opens the door for students to grow outside of the classroom. Events like the
            GSOC Summit and developer meetings allow students to explore computing in new environments. </p>  <br>

            <h5>4. Fun! :</h5>
            <p>Students get excited about working on a real project where their work is publicly visible. Many instructors struggle with how to motivate
            students to learn. Participation in an open source project provides students with motivation that is tied to the content being learned.</p>  <br>

            <strong>I invite Studnets to explore student participation in open source. If you'd like some help in doing that, join us in
            CS Hunt <a href="https://github.com/CS-Hunt/" target="_blank">https://github.com/CS-Hunt/</a> </strong>

            <div class="alert alert-dark mt-3" role="alert">
             Join our Telegram cahnnel <a href="https://t.me/joinchat/YKR5_lOCNppiZjNl" class="alert-link">Get Placed</a>
            </div>
            <div class="alert alert-info" role="alert">
             Follow us on linkdin <a href="https://www.linkedin.com/company/cs-hunt" class="alert-link">Get Placed</a>
            </div>
        </div>
</div>


{% endblock main-content %}