{% extends "app/base.html" %}
{% load static %}
{% block main-content %}

<div class="heading-job">
  <div class="curl">
    <h2 class="text-center">On Campus (NIET)</h2>
  </div>
</div>

<div class="container">
  {% if user.is_staff %}
    <a href="{% url 'Add_Job_Post' %}"> <div style="float:right;" class="mt-1 mb-1"><input class="btn btn-success" type="button" value="New"></div></a>
  {% endif %}
</div>

{% if page_obj %}
<div class="mt-5">
    {% for item in page_obj %}
       <div class="container ">
        <div class="card mb-3" style="max-width: 840px;">
            <div class="row g-0" href="{% url 'Job_Description' item.pk %}">
                <div class="col-md-4">
                {% if item.Company_image %}

                    <img class="img-fluid rounded-start" src="{{item.Company_image.url}}">
                {% else %}

                    <img class="img-fluid rounded-start" src="{% static "app/images/default.jpg" %}">

                {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"> <a href="{% url 'Job_Description' item.pk %}">{{ item.title|capfirst}}</a></h5> ~ 
                        <small class="card-title">{{item.author.first_name|capfirst}}
                        {{item.author.last_name|capfirst}} - {{item.post_date}}</small>

                        {% if user.is_authenticated %}
                        {% if request.user.is_staff %}

                            <small>
                                <a href="{% url 'update_job_post' item.pk %}">- (Edit)</a>

                                <a href="{% url 'delete_post' item.pk %}">(Delete)</a>
                                
                            </small>

                        {% endif %}
                        {% endif %}

                        <p class="card-text">{{item.snippet}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
   </div>

<br>
    {% endfor %}


     <!--Pagination-->
        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
            <a class="page-link text" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link text" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}

        {% if page_obj.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if page_obj.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% endif %}
      </ul>
    <!--end of Pagination-->
    

{% else %}

<div class="container text-center m-5 p-3 w-50 shadow bg-danger">
    <span class="font-w-100 text-white">Currently no On-Campus drive is going on</span>
</div>
 

{% endif %}

{% endblock main-content %}