{% extends "app/base.html" %}
{% load static %}
{% block main-content %}

<div class="margin-2">
  <div class="container ml-3">
            <h1 class="font-weight-bold text-uppercase font text-center font-blog-detail-title m-1">Terms and Conditions</h1><br>
            <h5 class="text-muted mb-5">
            We are not associated with any company/agency/agent whose jobs posted on getplaced.com, We are just providing information for jobs openings. 
            All the logo and images are of their respective owners. User should verify himself all the information on authority website regarding 
            company/salary/qualification/last date etc. before applying for any jobs.
            <br> <br>
            The information provided in Get Placed is collected from various sources across the web. We try to ensure, the 
            provided information is accurate and useful. Get Placed makes no warranty, representation or guarantee as to content, 
            sequence, accuracy, timeliness, completeness, truthfulness and positioning of the information or the sources that the information may 
            be relied upon for any reason. This is a completely non-profitable initiative taken to help people know about the career opportunities in these unprecedented times.
            <br><br>
            
            We know many companies are already doing work in the same domain but what we are doing is to make people know about all the openings as soon as they are posted. 
            We will be posting about the opportunities that have been opened by the company in the last 24 hours.</h5>
        </div>
</div>


{% endblock main-content %}