@charset "utf-8";

/* body{
    background-color: rgb(104, 113, 113)!important;
} */
header {
    display: block;
	text-align: center;
	height:670px;
    width:100%;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
    background-color: rgb(0, 34, 35);
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
    background-image: url("../images/wave_dark.svg");
    background-image: url("../images/wave_dark.svg"), radial-gradient(circle,rgb(0, 34, 35),black);
    background-repeat: no-repeat;
    background-position-y: bottom;
    padding-top: 50px;
}
header .overlay h1{
    margin-top: 100px;
}

/* ------  Home Button -------  */

.btn-solid-lg {
	display: inline-block;
	padding: 1.5rem 2.5rem 1.5rem 2.5rem;
	border: 1px solid rgb(0, 34, 35);
	border-radius: 32px;
	background-color: #fefeff;
	color: #000;
	font-weight: 600;
	font-size: 1rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}
.btn-solid-lg:hover {
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff; 
	text-decoration: none;
}
.header .btn-solid-lg {
	margin-bottom: 0.8rem;
}
.header .btn-solid-lg,
.header .btn-outline-lg {
	margin-right: 0.25rem;
	margin-left: 0.25rem;
}
.header .btn-solid-lg {
	border: 1px solid #ffffff;
	background-color: #ffffff;
	color: rgb(0, 34, 35);
}
.p-large{
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.header .btn-solid-lg:hover {
	background-color: transparent;
	color: #ffffff;
}
.btn-outline-lg {
	display: inline-block;
	padding: 1.5rem 2.5rem 1.5rem 2.5rem;
	border: 1px solid #fff;
	border-radius: 32px;
	background-color: transparent;
	color: #fff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	border: 1px solid rgb(0, 34, 35);
	background-color:#fff;
	color: #000;
	text-decoration: none;
}

.header .btn-outline-lg {
	border: 1px solid #ffffff;
	color: #ffffff;
}
/* end of home button */

/*    Description     */
.cards-1 {
	padding-top: 3.5rem;
	padding-bottom: 3.75rem;
	text-align: center;
}

.cards-1 .h2-heading {
	margin-bottom: 3.75rem;
}

.cards-1 .card {
	margin-bottom: 4.5rem;
	border: none;
	background-color: transparent;
}

.cards-1 .card-image img {
	max-width: 200px;
	margin-right: auto;
	margin-bottom: 2.5rem;
	margin-left: auto;
}

.cards-1 .card-body {
	padding: 0;
}

.cards-1 .card-title {
	margin-bottom: 0.5rem;
}

.cards-1 p {
	margin-bottom: 0;
}

.margin-2 {
    margin-top: 5.2rem! important;
}
#navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }

#loading{
    position: fixed;
    width:100%;
    top:0;
    height: 100vh;
    background: rgb(0, 0, 0) url('https://i.pinimg.com/originals/4f/43/2d/4f432d9234988a5f33b26e0ba06bc6fe.gif') no-repeat center;
    z-index:9999;
  }
.Timeblog{
    font-size: 14px;
}
.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden
}
.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color:rgb(0, 34, 35);
    border-radius: 0 4px 0 32px;
}
.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}
.profile-feed-item {
    padding: 1.5rem 0;
    border-bottom: 1px solid #e9e9e9;
  }
.img-sm {
      width: 43px;
      height: 43px;
}
.card1 {
    display: block;
    position: relative;
    max-width: 300px;
    background-color: #eaf7fa;
    border-radius: 4px;
    padding: 32px 0px 20px 13px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}
.card1 h5{
    color: rgb(41, 39, 39);
}
.card1 p{
    color: rgb(66, 65, 65);
}
.card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background-image: radial-gradient(circle,rgb(0, 34, 35),black);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.card1:hover:before {
    transform: scale(23);
}
.card1:hover p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
}
.card1:hover h5 {
    transition: all 0.3s ease-out;
    color: #fff;
} 
@media (max-width: 1000px){
    .card1:hover p {
        transition: all 0.3s ease-out;
        color: rgba(255, 255, 255, 0.8);
    }
    .card1:hover h5 {
        color: #fff;
        transition: all 0.3s ease-out;
    } 
}
.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#201e1d), to(#4e4d4dce));
    background: linear-gradient(to right, #201e1d, #4e4d4dce)
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

/* resources carousel styling */

#autoWidth a{
    text-decoration: none;
}
#autoWidth1 a{
    text-decoration: none;
}
#autoWidth2 a{
    text-decoration: none;
}
.box1{
	width:400px;
	height:350px;
	background-color:#2b2b2f;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(65, 65, 66, 0.918);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 20px 10px;
}
.box1 .model{
    border-radius: 10px;
}
.model{
	height: 300px;
	max-height: 100%;
	max-width: 100%;
}
.details{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}
.details p{
	font-family: calibri;
	color:#eeeeee;
	text-align: center;
	margin-top: 20px;
    font-size: 24px;
    line-height: 26px;
}
.marvel{
	color:#32323e;
	font-weight: bold;
	/* letter-spacing: 2px; */
	font-family: bebas kai;
	font-size: 25px;
}
.logo1{
	height: 60px;
}
.box1:hover{
	background-color: #333338;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}

.button-job {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
}
.button-job:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(2, 39, 39);
    border-radius: 10rem;
    z-index: -2;
}
.button-job:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(0,17,17);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}
.button-job:hover {
    color: #fff;
}
.button-job:hover:before {
    width: 100%;
}
@media(max-width:720px){
	.box1{
		width: 310px;
		height: 350px;
	}
	.model{
		height:250px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
    header .overlay h1{
        margin-top: -10px;
    }
    .header .btn-solid-lg,
	.header .btn-outline-lg {
		margin-right: 0.5rem;
		margin-left: 0;
	}
    .btn-solid-lg {
        display: inline-block;
        padding: 1.1rem 1.8rem 1.1rem 1.8rem;
    }
    .btn-outline-lg {
        display: inline-block;
        padding: 1.2rem 1.9rem 1.2rem 1.9rem;
    }
	
}